{{ define "content" }}
  <section class="container highlight-widget">
    <header>
      <h2>Pages</h2>
      <div>
        <a href="/editor" class="button">New page</a>
      </div>
    </header>
    <table class="table">
      <thead>
        <tr>
          <th>Page</th>
          <th>Updated</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <a href="#">
              Website
            </a>
          </th>
          <td>08.09.2024</td>
          <td>08.09.2024</td>
        <tr>

        <tr>
          <th>
            <a href="#">
              Website
            </a>
          </th>
          <td>08.09.2024</td>
          <td>08.09.2024</td>
        <tr>
        <tr>
          <th>
            <a href="#">
              Website
            </a>
          </th>
          <td>08.09.2024</td>
          <td>08.09.2024</td>
        <tr>
      </tbody>
    </table>
  </section>
{{ end }}

