{{ define "content" }}
  <div class="container editor-area">
    <div draggable="false" class="editor__item">
      <div data-target="toolbox" class="editor__item-toolbox">
        <button data-target="toolbox-move" class="editor__item-toolbox-move">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path d="M0 0h24v24H0z" stroke="none"/>
            <path d="M19 11V9a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2"/>
            <path d="m13 13 9 3-4 2-2 4-3-9M3 3v.01M7 3v.01M11 3v.01M15 3v.01M3 7v.01M3 11v.01M3 15v.01"/>
          </svg>
        </button>
      </div>
      <h1>Box 1</h1>
    </div>

    <div draggable="false" class="editor__item">
      <div data-target="toolbox" class="editor__item-toolbox">
        <button data-target="toolbox-move" class="editor__item-toolbox-move">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path d="M0 0h24v24H0z" stroke="none"/>
            <path d="M19 11V9a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2"/>
            <path d="m13 13 9 3-4 2-2 4-3-9M3 3v.01M7 3v.01M11 3v.01M15 3v.01M3 7v.01M3 11v.01M3 15v.01"/>
          </svg>
        </button>
      </div>
      <h1>Box 2</h1>
    </div>

    <div draggable="false" class="editor__item">
      <div data-target="toolbox" class="editor__item-toolbox">
        <button data-target="toolbox-move" class="editor__item-toolbox-move">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path d="M0 0h24v24H0z" stroke="none"/>
            <path d="M19 11V9a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2"/>
            <path d="m13 13 9 3-4 2-2 4-3-9M3 3v.01M7 3v.01M11 3v.01M15 3v.01M3 7v.01M3 11v.01M3 15v.01"/>
          </svg>
        </button>
      </div>
      <h1>Box 3</h1>
    </div>

  </div>
{{ end }}
